* {
  padding: 0;
  margin: 0;
  font-family: "Montserrat";
}

.currentToNextMotion {
  opacity: 0;
  transform: translateX(600px);
  transition: 0.5s;
  scale: 0.6;
}

.currentToPrevMotion {
  opacity: 0;
  transform: translateX(-600px);
  transition: 0.5s;
  scale: 0.6;
}


.motion {
  scale: 1 !important;
  opacity: 1 !important;
  transform: translateX(0px) !important;
  transition: 0.5s;
}
